<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-/Users/taingonheng/logs}" />
    <property name="LOG_FILE" value="${LOG_PATH}/application.log" />
    <property name="ARCHIVE_LOG_FILE" value="${LOG_PATH}/application-%d{yyyy-MM-dd}.log" />
    <property name="LOG_MAX_HISTORY" value="90" />
    <property name="LOG_TOTAL_SIZE_CAP" value="1GB" />

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ARCHIVE_LOG_FILE}</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ROLLING" />
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="web" level="info" additivity="false">
        <appender-ref ref="ROLLING" />
    </logger>
</configuration>